.main-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

.browse-nav {
    display: flex;
    padding: 0.5em;
}

.browse-nav p {
    margin-right: 2em;
}

.browse-nav .btn {
    padding: 0.5em;
    margin-left: 1em;
}

.sort-filter {
    display: flex;
    align-items: flex-start;
}

.sort {
    flex: 1;
    background-color: #7f7f7f;
    border-radius: 12px;
    padding: 0.5em;
}

.filter {
    flex: 1;
    background-color: #7f7f7f;
    border-radius: 12px;
    padding: 0.5em;
}

.catalog {
    background-color: #7f7f7f;
    border-radius: 12px;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.catalog-item {
    flex: 1;
    background-color: white;
    border-radius: 12px;
    padding: 1em;
    display: flex;
    gap: 0.3em;
}

.catalog-item h3, .catalog-item h5 {
    margin: 0;
}

.catalog-item p {
    max-height: 10ch;
    overflow: hidden;
}

@media (min-width: 700px) {
    .main-content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .main-content > * {
        flex-basis: 100%;
    }

    .sort-filter {
        flex-direction: column;
        flex-basis: 29.7%;
        align-items: stretch;
        margin-right: 0.3%;
        gap: 1em;
    }

    .catalog {
        margin: 0;
        flex-basis: 70%;
    }
}