.right {
    max-width: fit-content;
    padding: 1em;
    margin-left: auto;
}

.center {
    max-width: fit-content;
    padding: 1em;
    margin: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
    padding: 0.5em;
    border-radius: 12px;
    margin: 0.5em;
}

.inner-card {
    background-color: #d1d0d0;
    border-radius: 12px;
    padding: 0.5em;
    margin: 0.5em 0;
    //height: 100%;
    //width: 100%;
}

.inner-card .search {
    max-width: 100%;
}

.inner-card .search input {
    width: 90%;
}

.inner-card > div > p {
    padding: 0 1em;
    margin: 0;
    font-size: 0.8em;
}

.inner-card form input {
    width: 100%;
    margin: 0.5em 0;
}

.div1 .btn {
    padding: 0.5em 1em;
}

.list {
    padding: 1em;
    overflow-y: auto;
    max-height: 30em;
}

.book {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.5em 0;
}

.db > .book:hover {
    background-color: #e1e0e0;
}

.book p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lib-management > .inner-card > form {
    background-color: #7f7f7f;
    padding: 0.5em;
    border-radius: 12px;
}

.lib-management form textarea {
    width: 100%;
    margin: 0.5em 0;
}

.user-management h3 {
    margin: 0;
}

.borrow p {
    padding: 0 1em;
    margin: 0;
    font-size: 0.8em;
}

.borrow p .btn{
    padding: 0.5em 2em;
}

@media (min-width: 800px) {

    .main-content {
        flex-direction: row;
    }
    
    .card {
        max-width: 50%;
    }

}

@media (min-width: 1200px) {
    
    .lib-management > .inner-card {
        display: flex;
        flex-wrap: wrap;
    }

    .lib-management > .inner-card > .div1 {
        max-width: 50%;
    }

    .lib-management > .inner-card > .search {
        min-width: 100%;
    }

    .user-management .list {
        display: flex;
        flex-wrap: wrap;
        max-height: 15em;
    }

    .user-management .list .book {
        max-width: 50%;
    }

    .user-reg input:first-child, .user-reg input:nth-child(2) {
        max-width: 44%;
    }

    .user-reg input:nth-child(3) {
        max-width: 10%;
    }
}