.main-content {

    padding: 1em;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    gap: 1em;
    flex-direction: column;
    
}


.freq-ask    {

    flex:2 ;
    padding: 1em;
    background-color: #7f7f7f;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    
}

.freq-ask .search {
    margin: 0.5em auto;
}





.feedback{
    
    flex: 2;
    padding: 0.5em;
    background-color: #7f7f7f;
    border-radius: 12px;
    justify-content: center;

}

.feedback input[type = 'text'] {
    margin: 0.5em 0;
    width: 100%;
    
}

.feedback div {
    max-width: fit-content;
    margin: auto;
}

.h4, .logo{
    font-size: 20;
    justify-content: center;
    text-align: center;
}

    

.staff{
    
    padding: 0.5em;
    background-color: #7f7f7f;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    
}

@media (min-width: 800px) {

    .main-content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-content > div {
        width: 50%;
    }

    .main-content > div:last-child {
        width: 100%;
    }

}

@media (min-width: 1200px) {

    .main-content {
        flex-wrap: nowrap;
    }

    .main-content > div {
        width: 40%;
    }

    .main-content > div:last-child {
        width: 20%;
    }

}



