.main-content {

    padding: 1em;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    gap: 15px;
}


.user-info {

    flex:1;
    padding: 1em;
    background-color: #7f7f7f;
    font: bold 24px/45px Helvetica, Sans-Serif;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    

}

.num-search{
    
    padding: 1em;
    background-color: #7f7f7f;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
}

.data{

    padding: 1em;
    background-color: #4a4b57;
    border-radius: 12px;
    text-align: center;
    justify-content: center;

}

.history-container{
  font: bold 24px/45px Helvetica, Sans-Serif;
  flex:3;
  text-align: center;
  justify-content: center;
}



.header-table,.data {
    
    color: rgb(0, 0, 0);
    text-align: center;
    font: bold 24px/45px Helvetica, Sans-Serif;
    
    
  }
  
  .headings, .policy, .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
  }
  
  .heading {
    flex-basis: 33.333%;
    font-weight: bold;
  }
  
  .policy {
    border-radius: 2em;
    background-color: white;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 5px grey;
  }
  
  span {
    flex-basis: 33.333%;
  }
  
  a {
    text-decoration: none;
    color: #4c4c4c;
  }




.sort{

    
    padding: 0.5em;
    background-color: #7f7f7f;
    border-radius: 12px;
    justify-content: center;

}